<br>
<div class="jumbotron text-center">
    <h1><strong>Groove Records</strong></h1>
    <h5>Η μεγαλύτερη ελληνική δισκογραφική εταιρία!</h5>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h5>Η Groove Records ειναι μια απο τις πλεον διασημότερες δισκογραφικές εταιρίες παγκοσμίως. Γνωστοι καλλιτέχνες της hip hop-rap σκηνης και οχι μονο, ξεκίνησαν την καριέρα τους συνεργαζόμενοι με την εταιρια μας. Απο το 2011 μεχρι και σημερα, η
                groove συνεχιζει να στηριζει τους ανερχομενους καλλιτεχνες στο χωρο της μoυσικης</h5>
            <h5>Η Groove Records ιδρύθηκε το 2011 στην Αθήνα, έχοντας ως στόχο την πρωτοτυπία και την διαφοροποίηση από τα κατεστημένα. Κύριος σκοπός ήταν η ανακάλυψη και παρουσίαση νέων ταλαντούχων καλλιτεχνών που θα έκαναν αίσθηση και θα προσέφεραν νέα
                πνοή στο εγχώριο μουσικό στερέωμα! Tο κύριο μέλημα της εταιρείας, ήταν η εκπροσώπηση και προσφορά κατευθυντήριας γραμμής σε νέα πρόσωπα για να αξιοποιήσουν στο μέγιστο τις δυνατότητες τους σύμφωνα πάντα με τις πιο επίκαιρες μουσικές εξελίξεις.
            </h5>
        </div>
        <div class="col-md-2">
            <img src="logo.jpg" class="img-fluid">
        </div>
    </div>
</div>